@page "/Przepis"
@inject kuchnia.Service.RecepturaService RecepturaService

<h3>Wybierz przepis</h3>

@if (przepisy == null)
{
    <p>Ładowanie przepisów...</p>
}
else if (przepisy.Count == 0)
{
    <p>Brak dostępnych przepisów.</p>
}
else
{
    <select @onchange="OnPrzepisChanged" class="form-select">
        <option value="">-- Wybierz przepis --</option>
        @foreach (var p in przepisy)
        {
            <option value="@p.nazwa">@p.nazwa</option>
        }
    </select>

    @if (wybranyPrzepis != null)
    {
        <hr />
        <h4>@wybranyPrzepis.nazwa</h4>
        <h5>Kategoria: @wybranyPrzepis.Kategoria</h5>

        <h5>Składniki:</h5>
        <ul>
            @foreach (var s in wybranyPrzepis.skladniki)
            {
                <li>@s</li>
            }
        </ul>

        <h5>Sposób przygotowania:</h5>
        <ul>
            @foreach (var z in wybranyPrzepis.sposob_przygotowania)
            {
                <li>@z</li>
            }
        </ul>

        <p><b>Temperatura pieczenia:</b> @wybranyPrzepis.Temperatura_pieczenia</p>
        <p><b>Czas pieczenia:</b> @wybranyPrzepis.Czas_pieczenia</p>
    }
}

@code {
    private List<kuchnia.Service.Przepis> przepisy;
    private kuchnia.Service.Przepis wybranyPrzepis;

    protected override async Task OnInitializedAsync()
    {
        var url = "https://raw.githubusercontent.com/bobeer2406/kuchnia/main/kuchnia/data/Przepisy.json";
        przepisy = await RecepturaService.PobierzPrzepisAsync(url);
    }

    private void OnPrzepisChanged(ChangeEventArgs e)
    {
        var nazwa = e.Value?.ToString();
        wybranyPrzepis = przepisy.FirstOrDefault(p => p.nazwa == nazwa);
    }
}
